{% extends 'base.html.twig' %}

{% block main %}
    <h1 >Certification. Twig embed code</h1><br/>
    {{ render(controller('App\\Controller\\Certification\\Twig\\TwigController::mainFunctionsAction')) }}
{% endblock %}